/* variables */
/* general */
* {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   border: none;
   outline: none;

}

/* dedicado */

.logo {
   width: 100px;
   height: 50px;
}

header {
   background-color: #44665B;
   padding-bottom: 20px;
}

body {
   background-color: #7C7C7C;
}

footer {
   background-color: #44665B;
   margin-top: 2%;
   padding: 1%
}

header div .link {
   margin-top: -20px;
}

a {
   color: #ffffff;
   background: #FF5733;
   padding: 10px;
   border-radius: 15px;
   border: 2px;


}

li ul {
   margin-top: -35px;
   margin-left: 110px;
}

.topnav {
   float: left;
   overflow: hidden;
 }
 
 .topnav a {
   float: left;
   display: block;
   color: #000000;
   text-align: center;
   padding: 14px 36px;
   text-decoration: none;
   font-size: 17px;
   transition: transform .1s;
   margin-top: 3%
 }
 
 .topnav a:hover {
   transform: scale(1.050);
   color: rgb(140, 0, 255);
 }
 
 .topnav a.active {
   font-size: 25px;
   color: rgb(203, 0, 180);
   margin-top: 2%;
 }